<script>
  callActiveUsers();

  function listActiveUsers(http_clients){
    var counter = 0;
    var aclients = "";
    $('#activeUsers').empty();
    for (var i=0; i < http_clients.length; i++){
      if (http_clients[i].name != undefined){
        aclients += http_clients[i].name+'</br>'
      }
      else{
        counter++;
      }
    }
    $('#activeUsers').append(aclients+ counter+ " unregistered clients.");
  }

  function callActiveUsers(){
    socket.emit('sendActiveUsers');
  }

  socket.on('sendActiveUsers',function(data){
    listActiveUsers(data);
  });
</script>

<div class="col-xs-12">
  <div class="form-group">
    <div style="padding-top: 12px;">
      <div class="well" id="activeUsers">
      </div>
    </div>
  </div>
</div>