<div id="AddLinksForm">
  <form role="form">
    <div class="form-group" id="inputs">
      <div class="col-lg-4">
        <div class="form-group">
          <input class="form-control" type="text" maxlength="255" id="linkURL" placeholder="URL">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" maxlength="40" id="linkName" placeholder="Nimi">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" maxlength="255" id="linkDesc" placeholder="Kuvaus">
        </div>
        <div class="form-group">  
          <select class="form-control" id="linkCat">
            <option value="other">Sekalainen</option>
            <option value="AC">AC-huone</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success" id="addLinkBtn">Lisää linkki</button>
      </div>
    </div>

  </form>
</div>