<h3>Tervetuloa käyttämään StudentHUD-verkkoportaalia!</h3>
<p id="infoSivu">
1. Rekisteröityminen</br>
	&nbsp&nbsp&nbsp&nbsp -Rekisteröidy sivulle oikeasta laidasta löytyvää Rekisteröinti-painiketta painamalla.</br>
	&nbsp&nbsp&nbsp&nbsp -Rekisteröitymiseen käyttämäsi tiedot tallennetaan tietokantaan.</br>
	&nbsp&nbsp&nbsp&nbsp -Sähköpostivarmistusta rekisteröitymiselle ei ole, joten sähköpostin ei tarvitse olla oikea.</br>
	&nbsp&nbsp&nbsp&nbsp -Luomasi käyttäjätunnukset poistetaan tietokannasta testiperiodin päätyttyä.</br>
</br>
2. Kirjautuminen</br>
	&nbsp&nbsp&nbsp&nbsp -Kirjaudu sisään rekisteröimälläsi sähköpostiosoitteella ja salasanalla.</br>
	&nbsp&nbsp&nbsp&nbsp -Jotkut järjestelmän ominaisuuksista (kuten linkin lisääminen ja IRC) toimivat vain rekisteröityneille käyttäjille.</br>
	&nbsp&nbsp&nbsp&nbsp -Mikäli päivität sivuston (refresh, f5), kirjaudut automaattisesti ulos järjestelmästä.</br>
</br>
3. Linkkien haku</br>
	&nbsp&nbsp&nbsp&nbsp -Kirjoita hakukenttään mitä haluat etsiä (tyhjä haku palauttaa kaikki linkit).</br>
	&nbsp&nbsp&nbsp&nbsp -Mikäli lisäsit linkin itse, voit poistaa sen painamalla "X".</br>
	&nbsp&nbsp&nbsp&nbsp -Voit arvostella linkkejä painamalla +/- painikkeita. Voit vaihtaa äänesi toiseksi, mutta et voi antaa useaa ääntä samalla linkille.</br>
</br>
4. IRC:hen kirjautuminen</br>
	&nbsp&nbsp&nbsp&nbsp -Paina kirjaudu-nappia kirjautuaksesi serverille (irc.freenode.com).</br>
	&nbsp&nbsp&nbsp&nbsp -Lisää haluamasi kanava tai käyttäjä kanavalistaan painamalla "lisää".</br>
	&nbsp&nbsp&nbsp&nbsp -IRC-nimimerkkinäsi käytetään rekisteröinnin yhteydessä valitsemaasi nimimerkkiä.</br>
	&nbsp&nbsp&nbsp&nbsp -Pysyt automaattisesti IRC-kanavalla vaikka et aktiivisesti käytä järjestelmää, tai ole kirjautuneena järjestelmään.</br>
	&nbsp&nbsp&nbsp&nbsp -Lopettaaksesi istunnon (poistuaksesi serveriltä), kirjaudu ulos IRC:stä valitsemalla Kirjaudu-ulos IRC-välilehdestä.</br>
</br>
Kokeilkaa järjestelmän ominaisuuksia (usean käyttäjätunnuksen rekisteröiminen on ok), ja yrittäkää hajottaa jotain.</br>
</br>
</p>
<div style="color:white">
Palautetta järjestelmästä / bugiraportteja voi antaa freenodessä kanavalla #MACHOMAN2015 tai alla olevasta laatikosta.</br>
<textarea id="user_feedback" style="color:black"></textarea></br>
<button id="feedback_btn" style="color:black" onclick="giveFeedback()">PALAUTE</button>
</br>
- Terveisin Machoman.
</div>
<script>
function giveFeedback(){
	var feedback = document.getElementById('user_feedback').value;
	document.getElementById('user_feedback').value = "PALAUTE LÄHETETTY!";
	socket.emit('feedback',feedback);
}
</script>