<!DOCTYPE html>
<html lang="en" ng-app="routing">
<head>
  <title>StudentHUD</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="stylesheet.css" type="text/css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script> 

  <script src="bootbox.min.js"></script>
</head>
<body>

<!-- NAVIGOINTI -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button onclick="setSmall()" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navSmallScreen">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="img-responsive navbar-button" role="button">
        <img class="img-responsive" src="/studenthudlogo.png" alt="studenthud" style="padding-right: 20px; padding-left: 15px;">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navSmallScreen">
      <ul class="nav navbar-nav" id="hideOnSmallScreen">
        <li><a class="navbar-button" href="#linkPage" role="button">Linkkien haku</a></li>
        <li><a class="navbar-button" href="#addLink" role="button">Linkkien lisäys</a></li>
        <li><a class="navbar-button" href="#IRC" role="button">Irc</a></li>
        <li><a class="navbar-button" href="#activeUsers" role="button">Aktiiviset käyttäjät</a></li>
      </ul>
      <!-- Modaalisen ikkunan namiskat navigointi-osiossa -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-button" href="#" id="loginButton" data-toggle="modal" data-target="#openLogin">Sisään</a></li>
        <li><a class="navbar-button" href="#" id="regButton" data-toggle="modal" data-target="#openRegistering">Rekisteröinti</a></li>
        <!-- Uloskirjautuminen -->
        <li><a id="logoutButton" onclick="logout()" style="display:none;" role="button"><span class="glyphicon glyphicon-log-out"></span>Kirjaudu Ulos</a></li>
      </ul>
    </div>
</nav>
<!-- // NAVIGOINTI -->
<!-- MODAALINEN IKKUNAN KIRJAUTUMISELLE -->
<div class="modal fade" id="openLogin" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Ikkunan sisältö "wrapperi" -->
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true" type="button">&times;</button>
        <h4>Kirjautuminen</h4>
      </div>
      <!-- Ikkunan runko -->
    <form id="loginForm" name="loginForm" novalidate>
      <div class="modal-body">
        <div class="form-group">
          <input id="logEmail" class="form-control" type="email" name="email" ng-model="email" placeholder="e-mail">
            <span ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
            <span ng-show="loginForm.email.$error.email">Täytä sähköpostiosoite oikeassa muodossa.</span>
        </div>
        <div class="form-group">
          <input id="logPassword" class="form-control" type="password" placeholder="Salasana">
        </div>
      </div> <!-- // Runko -->
      <!-- Ikkunan footer-osa -->
      <div class="modal-footer">
        <button class="btn btn-default" onclick="login()" type="submit" data-dismiss="modal" ng-disabled="loginForm.$invalid">Kirjaudu</button>
      </div> <!-- // footer -->
    </form>
    </div> <!-- // Sisältö -->
  </div>
</div> <!-- // MODAALINEN IKKUNA KIRJAUTUMISELLE -->

<!-- MODAALINEN IKKUNA REKISTERÖINNILLE -->
<div class="modal fade" id="openRegistering" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Ikkunan sisältö "wrapperi" -->
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true" type="button">&times;</button>
        <h4>Rekisteröinti</h4>
      </div>
        <!-- Ikkunan runko -->
      <form id="registerForm" name="registerForm" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <input id="regEmail" class="form-control" type="email" name="email" ng-model="email" placeholder="e-mail">
            <span ng-show="registerForm.email.$dirty && registerForm.email.$invalid"></span>
            <span ng-show="registerForm.email.$error.email">Täytä sähköpostiosoite oikeassa muodossa.</span>
          </div>
          <div class="form-group">
            <input id="firstname" class="form-control" type="text" name="fname" ng-model="fname" minlength="3" placeholder="Etunimi">
              <span ng-show="registerForm.fname.$error.minlength">Etunimen oltava vähintään 3 merkkiä.</span>
          </div>
          <div class="form-group">
            <input id="lastname" class="form-control" type="text" name="lname" ng-model="lname" minlength="3" placeholder="Sukunimi">
              <span ng-show="registerForm.lname.$error.minlength">Sukunimen oltava vähintään 3 merkkiä.</span>
          </div>
          <div class="form-group">
            <input id="regPass" class="form-control" type="password" placeholder="Salasana">
          </div>
          <div class="form-group">
            <input id="regPassConfirm" class="form-control" type="password" placeholder="Toista salasana">
          </div>
          <div class="form-group">
            <input id="IRC_nick" class="form-control" type="text" name="ircnick" ng-model="ircnick" minlength="3" placeholder="IRC-nick">
              <span ng-show="registerForm.ircnick.$error.minlength">IRC-nickin oltava vähintään 3 merkkiä.</span>
          </div>
        </div> <!-- // Runko -->
      <!-- Ikkunan footer-osa -->
      <div class="modal-footer">
        <button class="btn btn-default" onclick="registerUser()" type="submit" data-dismiss="modal" ng-disabled="registerForm.$invalid">Rekisteröi</button>
      </div> <!-- // footer -->
    </form>
    </div> <!-- // Sisältö -->
  </div>
</div> <!-- // MODAALINEN IKKUNA REKISTERÖINNILLE-->

<div ng-view class="container">
</div>
<!-- Angular tiedostot -->
<script src="routing.js"></script>
<script src="client.js"></script>
<!-- // Angular tiedostot -->
</body>
</html>