<script>
var userList = [];
reJoinIRC();
ircLoginStatus();

// Liitytään IRC kanavalle.
function addChannel(){
  var data = document.getElementById('channel_join').value;
  document.getElementById('channel_join').value = "";
  socket.emit('joinChannel',data);
}

// Lähetetään viesti serverille.
function sendMessage(){
  var data = document.getElementById('chat_field').value;
  document.getElementById('chat_field').value = "";
  socket.emit('sendMessage',activeChannel,data);
  console.log(socket.id+" sent: "+data.toString());
}

// Liitytään / Yritetään liittyä uudestaan IRC:iin.
function reJoinIRC(){
  if (hasLoggedToIrc)
    socket.emit('ircLogin',activeChannel);
}

// Chattitekstikentän rullaus.
function scrollToBottom() {
    var tfield = $('#chat_messages');
    if(tfield.length)
       tfield.scrollTop(tfield[0].scrollHeight - tfield.height());
};

// Näytetään käyttöliittymäelementtejä sen mukaan mikä käyttäjän tila on.
function ircLoginStatus(){
  if (!hasLoggedToIrc){
    $('#irc_logout_btn').hide();
    $('#irc_login_btn').show();
  }
  else{
    $('#irc_login_btn').hide();
    $('#irc_logout_btn').show()
  }
  if (connectingToIrc){
    $('#irc_login_btn').attr("disabled", true);
  }
  else{
    $('#irc_login_btn').attr("disabled", false);
  }
}
</script>

<div id="IRCForm">
    <div class="form-inline">
      <div class="col-lg-12">
        <div class="form-group col-lg-4">
          <button type="submit" class="btn btn-success" id="irc_login_btn">Kirjaudu</button>
          <button type="submit" class="btn btn-success" id="irc_logout_btn">Kirjaudu ulos</button>
          <p>irc.freenode.com</p>
        </div>
        <div class="form-group col-lg-8">
          <input class="form-control" type="text" id="channel_join" placeholder="#Kanava/Käyttäjä">
          <button type="submit" class="btn btn-info" onclick="addChannel()">Lisää</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-2 irclist" id="channels">
        <p style="font-weight: bold; font-size: 17px; padding-bottom: 10px;">Kanavat</p>
        <div id="channel_list"></div>
      </div>
      <div class="col-lg-8">
        <textarea class="form-control" rows="10" cols="50" id="chat_messages" disabled="disabled" style="resize:none"></textarea>
        <div class="row">
          <div class="col-sm-10">
            <input class="form-control" type="text" id="chat_field" placeholder="message">
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary" onclick="sendMessage()">Lähetä</button>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <p style="font-weight: bold; font-size: 17px; color:white;">Käyttäjät</p>
        <div id="user_list" class="irclist"></div>
      </div>
    </div>
</div>