<div id="linkSearch">
	<style type="text/css">
		.upBtn
		{
			margin-right: 5px;
		}
		.delBtn
		{
			margin-left: 5px;
		}

		.linkWrapper 
		{
			border: 1px solid black;
			border-radius: 5px;
			background-color: rgba(92,138,151,0.4);
			margin-top: 10px;
			padding: 5px;
		}

		.rating 
		{
			float: right;
			margin-right: 5px;
			font-size: 2em;
		}

		.linkDesc
		{
			background-color: #b0c8cf;
			padding: 5px;
			border: 1px solid black;
			border-radius: 5px;
		    -moz-hyphens:auto;
            -ms-hyphens:auto;
		    -webkit-hyphens:auto;
		    hyphens:auto;
		    word-wrap:break-word;
		}
	</style>
    <form role="form">
      <div class="form-group">
        <div class="col-lg-4">
          <input class="form-control" type="text" id="searchLinks" placeholder="Hae">
        </div>
      </div>
        <button id="searchBtn" type="button" class="btn btn-default">Hae</button>
    </form>
    <div id="results"></div>
</div>