html {
  overflow: auto;
  
}
ul {
  padding-top: 10px;
  height: 100%;
}

body {
  background-image: url("/background_image.png");
  padding-top: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.navbar{
  font-family: 'Oswald', sans-serif!important;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar-custom {
  background: url("/navbar_background.png");
  background-size: cover;
  /*background-color:rgba(0, 0, 0, 0.5);*/
  opacity:.9;
  height: auto;
}
/* Värit ikonille, ei huku taustakuvaan */
.navbar-toggle .icon-bar {
  background-color: black!important;
}
.modal-content {
  background-color: #556063!important;
}

.container {    
  background-color: rgba(85, 96, 99, 0.4);
  height: auto;
  padding-bottom: 10px;
  border-style: solid;
  border-color: rgba(10, 10, 10, 0.1);
}

#activeUsers 
{
  font-weight: bold;
  color: white;
  font-size: 15px;
  background-color: rgba(92,138,151,0.2);
}

#channels 
{
  color: white;
  font-weight: bold;
}

#user_list
{
  color: white;
  font-weight: bold;
}
.irclist
{
  overflow:auto;
  max-height:200px;
}
#loginForm span
{
  color: #b30000;
}
#registerForm span
{
  color: #b30000;
}
#infoSivu{
  color: white;
}
#regButton{
  margin-right:30px;
}
#logoutButton{
  margin-right:30px;
}